
<link rel="import" href="./behaviors/product-image-behavior.html">
<link rel="import" href="./bower_components/paper-input/paper-input.html">
<link rel="import" href="./bower_components/paper-fab/paper-fab.html">
<link rel="import" href="./bower_components/iron-icons/iron-icons.html">

<!-- custom behaviors -->
<link rel="import" href="./behaviors/product-remove-behavior.html">

<dom-module id="cart-page-entry">
  <template>
    <style>
      :host {
        display: block
      }

      .quantity {
        padding: 20px 0px;
        max-width: 50%;
      }

      .quantity .row .col-sm-4 {
        text-align: center;
        width: auto;
        margin: 0 auto;
      }

      .less,
      .more {
        background-color: #128a9e;
      }

      paper-input.entry-quantity {
        width: 50%;
        margin: 0 auto;
      }
    </style>
    <div id="entry" class="row">
      <div class="col-sm-3">
        <img src="{{getPrimaryImage(entry.product.images)}}" />
      </div>
      <div class="col-sm-7">
        <a href="[[entry.product.url]]">[[entry.product.name]]</a>
        <p>
          [[entry.product.code]]
        </p>
        <p>
          {{getStockLevel(entry)}}
        </p>
        <p>
          Item Price: {{entry.totalPrice.formattedValue}}
        </p>
        <div class="quantity">
          <div class="row">
            <div class="col-sm-4">
              <paper-fab
                  on-click="_onLessQty"
                  class="less" icon="icons:expand-more"></paper-fab>
            </div>
            <div class="col-sm-4">
              <paper-input id="qty"
                           disabled
                           error-message="Invalid Qty"
                           class="entry-quantity"
                           value="{{entry.quantity}}"></paper-input>
            </div>
            <div class="col-sm-4">
              <paper-fab
                  on-click="_onMoreQty"
                  class="more" icon="icons:expand-less"></paper-fab>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <paper-fab icon="delete" on-tap="_onDeleteEntry"></paper-fab>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'cart-page-entry',

      properties: {
        entry: {
          type: Object,
          value: function () { return {}; }
        },

        _canUpdate: {
          type: Boolean,
          value: true
        }
      },

      observers: [
        '_onQuantityChanged(entry.quantity)'
      ],

      _onQuantityChanged: function (qty) {
        var invalid = qty <= 0 || qty > 10
        this._canUpdate = !invalid
        this.$.qty.invalid = invalid
      },

      behaviors: [
        OW.ProductImageBehavior,
        OW.ProductRemoveEntryBehavior
      ],

      getStockLevel: function (entry) {
        // TODO localize message in a map or something like that :)
        return entry ? entry.product.stock.stockLevelStatus.code : 'No entry defined'
      },

      _onLessQty: function () {
        var nQty = this.entry.quantity - 1
        this.set('entry.quantity', nQty)
        this._updateEntryQty(nQty)
      },

      _onMoreQty: function () {
        var nQty = this.entry.quantity + 1
        this.set('entry.quantity', nQty)
        this._updateEntryQty(nQty)
      },

      _updateEntryQty: function (qty) {
        // easy way out
        if (!this._canUpdate) {
          return false
        }

        var self = this
        $.ajax({
            url: ACC.config.contextPath + '/rest/cart/update?entryNumber=' + this.entry.entryNumber,
            type: 'post',
            data: {
              quantity: qty
            },
            beforeSend: function () {
              $.blockUI({message: '<h3>Updating entry</h3>'})
            }
          }).done(function (data) {
            if (data.success === false) {
              console.error('could not update entry properly, check log :V')
              return
            }
          }).fail(function (err) {
            console.error('failed to update entry')
          }).always(function () {
            $.unblockUI()
          });
      }
    })
  </script>
</dom-module>
