<link rel="import" href="./behaviors/product-image-behavior.html">

<dom-module id="cart-page-entries">
  <template>
    TODO
  </template>
  <script>
  Polymer({
    is: 'cart-page-entries',

    behaviors: [
      OW.ProductImageBehavior
    ]
  })
  </script>
</dom-module>
