<link rel="import" href="./mini-cart-entry.html">
<link rel="import" href="./cart-page-entry.html">
<link rel="import" href="./bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="./bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="common-cart-entries">
  <template>

    <template is="dom-if" if="{{_hasEntries(entries)}}">

      <template is="dom-repeat" items="{{entries}}" as="entry">
        <!-- minicart type rendering -->
        <template is="dom-if" if="{{minicart}}">
          <mini-cart-entry on-entry-removed="_onEntryRemoved" entry="{{entry}}"></mini-cart-entry>
        </template>

        <!-- page type rendering -->
        <template is="dom-if" if="{{!minicart}}">
          <cart-page-entry on-entry-removed="_onEntryRemoved" entry="{{entry}}"></cart-page-entry>
          <!-- TODO display in a different component -->
        </template>
      </template>
    </template>

    <template is="dom-if" if="{{!_hasEntries(entries)}}">
      <h2>You have no entries in the cart :)</h2>
    </template>
  </template>

  <script>
    Polymer({
      is: 'common-cart-entries',

      behaviors: [
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
        entries: {
          type: Array,
          value: function () {
            return []
          },
        },

        _latestCart: {
          type: Object,
          value: function () {
            return {}
          }
        },

        /**
          * Indicates if the entries will be displayed for a minicart
          * @default true
          */
        minicart: {
           type: Boolean,
           value: false
        },

        animationConfig: {
          value: function () {
            return {
              name: 'fade-out-animation',
              node: null
            }
          }
        }
      },

      ready: function () {

      },

      listeners: {
        'neon-animation-finish': '_onNeonAnimationFinish'
      },

      _onEntryRemoved: function (ev) {
        console.log(ev.detail);
        this._latestCart= ev.detail;
        this.animationConfig.node = ev.target
        this.playAnimation()
      },

      _onNeonAnimationFinish: function () {
        var index = this.entries.indexOf(this.animationConfig.node.entry)
        this.set('entries', this._latestCart.entries)
      },

      _hasEntries: function (entries) {
        if(!entries) {
          return false
        }

        return (entries.length > 0)
      }
    })
  </script>
</dom-module>
