<link rel="import" href="./bower_components/paper-fab/paper-fab.html">
<link rel="import" href="./bower_components/iron-icons/iron-icons.html">

<!-- custom imports -->
<link rel="import" href="./behaviors/product-image-behavior.html">
<link rel="import" href="./behaviors/product-remove-behavior.html">

<dom-module id="mini-cart-entry">

  <template>
    <style>
      :host {
        display: block;
        --recovering: #2196F3;
      }

      .recovering {
        animation-name: removing;
        animation-duration: 2s;
      }

      @keyframes removing {
        from {
          background-color: var(--recovering);
        }
        to {
          background-color: white;
        }
      }

      paper-fab {
        background: blue !important;
      }
    </style>
    <div id="entry" class="row">
      <div class="col-sm-3">
        <img src="{{getPrimaryImage(entry.product.images)}}" />
      </div>
      <div class="col-sm-7">
        <a href="[[entry.product.url]]">[[entry.product.name]]</a>
      </div>
      <div class="col-sm-2">
        <paper-fab icon="delete" on-tap="_onDeleteEntry"></paper-fab>
      </div>
    </div>
  </template>

  <script>
  
    Polymer({
      is: 'mini-cart-entry',

      properties: {
        entry: {
          type: Object,
          value: function () {
            return {}
          }
        }
      },

      behaviors: [
        OW.ProductImageBehavior,
        OW.ProductRemoveEntryBehavior
      ],

    })
  </script>
</dom-module>
