

<link rel="import" href="./bower_components/paper-input/paper-input.html">
<link rel="import" href="./bower_components/paper-button/paper-button.html">

<!--

  Dummy component to make sure it's actually possible to integrate (which i think it is) polymer
  within hybris frontend OOTB implementation
-->

<dom-module id="ow-images">
  <template>
    <style>
      :host {
        display: block;
        --main-color: #03A9F4;
      }


      paper-input {
        width: 60%;
        margin: 0 auto;
      }

      .blue-one {
        background-color: var(--main-color);
        color: white;
      }
    </style>

    Hola :D

    <paper-input label="name" value="{{_username}}"></paper-input>

    <hr />

    <paper-button raised
        class="blue-one"
        on-click="_onSearchClick">Search user on github</paper-button>

    <hr />

    <img src="{{_userAvatar}}" />
  </template>
  <script>
    Polymer({
      is: 'ow-images',

      properties: {
        /**
          * Private variable for holding the username.
          */
        _username: {
          type: String
        },
        _userAvatar: {
          type: String
        }
      },

      _onSearchClick: function () {
        const _user = this._username
        console.log(`searching for ${_user}`)
        $.ajax({
          type: 'get',
          url: 'https://api.github.com/users/' + _user
        }).done((data) => {
          console.log('Result was', data)
          this._userAvatar = data.avatar_url
        }).fail((res) => {
          console.error('Error while trying to get th result', res)
        })
      }
    })
  </script>
</dom-module>
